{{ ansible_managed | comment }}

[Unit]
Description=loki
After=network-online.target
StartLimitInterval=0
StartLimitIntervalSec=0

[Service]
Type=simple
User={{ loki_system_user }}
Group={{ loki_system_group }}
ExecStart=/usr/local/bin/loki \
  -server.http-listen-host={{ loki_http_listen_host }} \
  -server.http-listen-port={{ loki_http_listen_port }}
SyslogIdentifier=loki
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
